<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <div class="jumbotron">
                <h1>Look at all the cities:</h1>
                <ul>
                    {% for  city in cities %}
                    <li>{{city.city}}</li>
                    {% endfor %}
                </ul>
                
            </div>
        </div>
    </div>
</div>
</body>
</html>